<div class="row">
  <div class="col s12 m8">
    <h1>Angular + Parse Utils</h1>
    <p>This is a series of code snippets that come in handy when developing Web Apps using Angular as a frontend framework and Parse as Backend.</p>
    <p>Parse doesn't have a propietary Angular library, so some workarounds need to be made for Parse to speak in Angular language, specifically for Angular promises to be taken into account and the Angular digest to go through.</p>
    <p>I will update this guide as I keep working with Parse and Angular. Also, anyone who wishes to contribute is welcome to do so, visit the project on <a href="https://github.com/ddanielbee/parseUtils" target="_blank">github</a></p>
    <h2>Stuff I used here</h2>
    <div class="collection">
      <a href="#https://angularjs.org/" target="_blank" class="collection-item">Angular JS</a>
      <a href="https://www.parse.com/" target="_blank" class="collection-item">Parse</a>
      <a href="https://www.pubnub.com/" target="_blank" class="collection-item">Pubnub</a>
      <a href="http://materializecss.com/" target="_blank" class="collection-item">Materialize CSS</a>
      <a href="https://github.com/CodeSeven/toastr" target="_blank" class="collection-item">Toastr</a>
      <a href="http://prismjs.com/" target="_blank" class="collection-item">Prism</a>
    </div>
  </div>
</div>